@media only screen and (max-width: 1030px) {
  .clearfix {
    overflow: auto;
  }
  .rowHWPosAbs {
    overflow: auto;
    float: right;
    width: 100%;
  }
  .logoBooks {
    width: 14vw;
    height: 18vw;
  }

  .fc-event-title {
    font-size: 12px !important;
  }

  .hammercontainer {
    display: none;
  }
  .twoColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .greeting img {
    object-fit: scale-down;
    font-size: 9px;
    display: flex;
  }
  .tabname {
    font-size: 12px;
    min-width: 5vw;
    padding: 4px;
  }
  .tabnameactive {
    font-size: 12px;
    min-width: 5vw;
    padding: 4px;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .icons {
    width: 24px;
    height: 24px;
  }
  .iconsRefferer {
    font-size: 6px;
    position: relative;
  }
  .iconsRefferer a {
    font-size: 6px;
  }

  .linksContainer {
    font-size: 12px;
    border-radius: 8px;
    margin: 0px 0px 0px 0px;
  }

  .fc-scrollgrid-sync-table {
    height: 60vh !important;
  }
  .fc-daygrid {
    height: 65vh !important;
  }

  .fc-toolbar-title {
    font-size: 14px !important;
  }
  .recordings button {
    font-size: 12px;
  }
  .buttonHW {
    font-size: 12px;
    left: 75vw;
    margin: 4px;
    height: max-content;
  }
  .infoWindowChat {
    font-size: 12px;
  }

  .buttonHWL {
    font-size: 12px;
  }
  .linkSymbols {
    padding: 0px 6px 0px 0px;
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .calendarForm {
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  .logoTools {
    height: 30px;
    width: 30px;
    border-radius: 7px;
    margin: 0px 3px 0px 3px;
  }

  .buttonHW1 {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
  }
  .rowHWPosAbs {
    display: none;
  }
  .infoContLinks {
    display: none;
  }
  .invisibleMobile {
    display: none;
  }
  .logoBooks {
    width: 20vw;
    height: 27vw;
  }
  .logoTools {
    display: flex;
  }
  .fc-view-harness {
    height: 74vh;
  }
  .fc-event-title {
    font-size: 10px !important;
  }
  .fc-toolbar {
    margin: 1px !important;
    padding-top: 2px !important;
  }

  .halfContainer {
    width: 94%;
    border-radius: 2px;
    margin: 0px 10px 20px 10px;
    max-height: 100%;
    font-size: 16px;
  }
  .tabname:first-child {
    border-top-left-radius: 15px;
    padding-left: 3px;
  }
  .tabname:last-child {
    border-top-right-radius: 15px;
  }
  .tabname {
    font-size: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;
  }
  .tabnameactive {
    font-size: 0px;
    margin: 0px;
    border: none;
    border-radius: 0px;
  }
  .circleIcons {
    display: flex;
    padding: 6px;
    margin: 0px;
    border-radius: 10px/12px;
    color: var(--font-dark-color);
    background-color: white;
    border: 1px solid var(--font-dark-color);
    opacity: 0.6;
    font-size: 14px;
  }
  .circleIcons:active {
    background-color: var(--font-2light-color);
    color: white;
  }
  .maincontainer {
    height: calc(100% - 140px);
    overflow: auto;
    background-color: var(--background-tabA-color);
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 1% 92% 1.5%/2% 97% 1% 98%;
    transform: rotate(0.31deg);
  }
  .outPopUpText {
    top: -60vh;
    left: 45vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font: 400 13.3333px Arial;
    position: fixed;
    width: 280px;
    height: 300px;
  }
}
