html,
#root {
  height: 100%;
}
.root {
  --background-page-color: #cbe3ee;
  --background-infow-color: #96c4d8;
  --shade-infow-color: #548ba1;
  --shade-light-color: rgba(255, 255, 255, 1);
  --shade-dark-color: rgba(33, 71, 83, 0.3);
  --background-tabn-color: #e0eef7;
  --font-infow-color: #214753;
  --font-tabnI-color: #286b7b;
  --font-light-color: #548ba1;
  --font-white: white;
  --font-whitesmoke: #cbe3ee;
}
:root {
  --background-page-color: #ecede3;
  --background-infow-color: #d5d5ca;
  --shade-infow-color: rgba(213, 213, 202, 0.85);
  --shade-light-color: rgba(255, 255, 255, 1);
  --shade-dark-color: rgba(0, 0, 0, 0.3);
  --background-tabn-color: #b0afa5;
  --font-infow-color: darkslategray;
  --font-tabnI-color: #352f31;
  --font-light-color: darkgrey;
  --font-white: white;
  --font-whitesmoke: whitesmoke;
}
.root {
  --background-page-color: #f7f9fb;
  --background-infow-color: #527ccc;
  --shade-infow-color: rgba(rgba(171, 196, 207, 0.85));
  --shade-light-color: #5085a5;
  --shade-dark-color: #8fc1e3;
  --background-tabn-color: #d6dee0;
  --font-infow-color: #070707;
  --font-tabnI-color: #4b76b8;
  --font-light-color: #000000;
  --font-white: #abb8cf;
  --font-whitesmoke: rgb(255, 255, 255);
}
.root {
  --background-page-color: #161616;
  --background-infow-color: #4b4b4b;
  --shade-infow-color: rgba(51, 51, 51, 0.85);
  --shade-light-color: rgb(0, 0, 0);
  --shade-dark-color: rgba(255, 255, 255, 0.3);
  --background-tabn-color: #6e6e6e;
  --font-infow-color: rgb(199, 199, 199);
  --font-tabnI-color: #d6d6d6;
  --font-light-color: rgb(121, 121, 121);
  --font-white: rgb(0, 0, 0);
  --font-whitesmoke: rgb(70, 70, 70);
  --webkit-filter: invert(1);
  --filter: invert(1);
}
body {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  height: 100%;
  overflow: auto;
  background-color: var(--background-page-color);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='10px'><text x='13' y='23' fill='white' font-size='50'>MIGRACODE</text></svg>");
}

.all {
  width: 100%;
  height: 100%;
}
.allblur {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.maincontainer {
  height: calc(100% - 145px);
  overflow: auto;
  background-color: var(--background-infow-color);
}
.tabcontent {
  background-color: var(--background-infow-color);
  text-align: center;
}
.tabcontent95 {
  height: 95%;
  background-color: var(--background-page-color);
}
button {
  margin: 5px;
  background-color: var(--background-page-color);
  font-size: 18px;
}
button:hover {
  background-color: var(--font-white);
  cursor: pointer;
}
.header {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.menu {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tabname {
  width: 16%;
  border-left: 1px solid var(--background-page-color);
  opacity: 0.8;
  padding: 10px 10px 10px 5px;
  color: var(--font-tabnI-color);
  background-color: var(--background-tabn-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  transform: skew(0deg);
}
.tabnameactive {
  width: 16%;
  align-items: center;
  transform: skew(0deg);
  padding: 10px 10px 10px 5px;
  color: var(--font-infow-color);
  border-left: 1px solid var(--background-page-color);
  background-color: var(--background-infow-color);
  border-top-right-radius: 15px;

  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.noblackfont {
  color: var(--font-tabnI-color);
  font-weight: bold;
}
.buttonHW:hover .tooltiptext {
  visibility: visible;
}
.buttonHW .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 190px;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.greeting {
  color: var(--font-light-color);
  -webkit-filter: var(--webkit-filter);
  filter: var(--filter);
  cursor: pointer;
}
.fc-daygrid-event-dot {
  border: 4px solid var(--shade-light-color);
}
.fc-toolbar {
  padding-top: 20px !important;
}
.fc-toolbar-title {
  color: var(--font-light-color) !important;
}
.fc-scrollgrid-sync-table {
  height: 59vh !important;
}
.fc-daygrid {
  height: 65vh !important;
}
.fc-daygrid-day-number {
  color: var(--font-light-color);
}
.fc {
  height: 75vh !important;
}
.fc-event-title {
  font-size: 14px !important;
  color: var(--shade-light-color);
}
.fc-event-time {
  font-size: 10px !important;
  color: var(--shade-light-color);
}
.contentLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoTools {
  height: 16vw;
  width: 16vw;
  border-radius: 15px;
  margin: 15px 10px 0px 10px;
  border: 2px solid white;
  cursor: pointer;
  object-fit: cover;
}
.logoBooks {
  width: 12vw;
  height: 16vw;
  border-radius: 15px;
  margin: 15px 10px 0px 10px;
  background-color: aliceblue;
  cursor: pointer;
  object-fit: contain;
  padding: 5px;
}
.logoBooks:hover {
  animation: shake 1.3s;
  animation-iteration-count: infinite;
}
.logoTools:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.greeting img:hover {
  animation: shake 1.8s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.contLogoTools {
  margin: 15px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contLogoBooks {
  margin: 15px 10px 0px 10px;

  width: 100%;
  float: left;
}
.outPopUp {
  font: 400 13.3333px Arial;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}
.outPopUpCalendar {
  border: 1px solid var(--shade-infow-color);
  font: 400 13.3333px Arial;
  background-color: var(--background-page-color);
  position: fixed;
  width: fit-content;
  height: fit-content;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -150px;
  padding: 40px;
  border-radius: 15px;
}
.outPopUpHomeworkCheck {
  border: 1px solid var(--shade-infow-color);
  font: 400 13.3333px Arial;
  background-color: var(--background-page-color);
  position: fixed;
  width: fit-content;
  height: fit-content;
  z-index: 15;
  top: 50%;
  left: 40%;
  margin: -100px 0 0 -150px;
  padding: 20px;
  border-radius: 15px;
}
.HomeworkCheck {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buttonsContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.outPopUpText {
  font: 400 13.3333px Arial;
  position: fixed;
  width: 300px;
  height: 500px;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
.bigWindowForText {
  height: 60vh;
  width: 100%;
}
.outPopUpVariabel {
  font: 400 13.3333px Arial;
  position: fixed;
  width: auto;
  height: auto;
  z-index: 15;
  top: 25px;
  left: 120px;
  border: 2px solid var(--background-page-color);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--background-page-color);
}
.open-button {
  background-color: var(--shade-infow-color);
  color: var(--font-white);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: var(--font-white);
  border: 2px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-white);
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  color: var(--font-tabnI-color);
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: var(--shade-infow-color);
}
label {
  color: var(--font-light-color);
}
/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: var(--background-infow-color);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  border-radius: 10px;
  background-color: var(--font-tabnI-color);
  color: var(--font-white);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a whitesmoke background color to the cancel button */
.form-container .cancel {
  border: none;
  color: var(--font-tabnI-color);
  background-color: var(--font-white);
  cursor: pointer;
}
.cancelAndForgot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-page-color);
  border-bottom-right-radius: 15px;
}
.cancelAndForgotLogIn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.divRowLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
  cursor: pointer;
}

.contLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  width: 96%;
}
.contLinkshidden {
  display: none;
}
h4 {
  text-align: center;
  color: var(--font-infow-color);
  margin-top: 10px;
  padding-left: 40px;
  margin: 20px 20px 0px 20px; /*top right bottom left*/
}
.inputLinks {
  display: block;
  color: var(--font-tabnI-color);
  border: none;
  border-top-left-radius: 8px;
  padding-left: 20px;
  width: 60%;
  height: 35px;
  font-size: 16px;
  background-color: var(--background-page-color);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--font-tabnI-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--font-tabnI-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--font-tabnI-color);
}
.twoColumns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}
.iconsRefferer {
  background-color: var(--background-infow-color);
  font: Arial;
  font-size: 10px;
  text-decoration: none;
  color: var(--font-infow-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.iconsrefferer a {
  font: Arial;
  font-size: 10px;
  text-decoration: none;
  color: var(--font-light-color);
}
.icons {
  width: 24px;
  height: 24px;
}
.linksContainer {
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  max-height: 100%;
  font-size: 16px;
}
.halfContainer {
  width: 100%;
  border-radius: 2px;
  margin: 0px 10px 20px 10px;
  max-height: 100%;
  font-size: 16px;
}
.infoContLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.circle {
  padding: 1px 5px 1px 5px;
  margin: 0px 10px 0px 0px;
  border-radius: 30px/30px;
  color: var(--font-infow-color);
  background-color: var(--background-infow-color);
  border: 1px solid var(--shade-dark-color);
  opacity: 0.6;
  font-size: 14px;
}
.circleIcons {
  padding: 6px;
  margin: 0px;
  border-radius: 10px/12px;
  color: var(--font-infow-color);
  background-color: white;
  border: 1px solid var(--shade-dark-color);
  opacity: 0.6;
  font-size: 14px;
}
.circleIcons:hover {
  background-color: var(--font-whitesmoke);
  color: white;
}
.circle:hover {
  opacity: 0.9;
  cursor: pointer;
}
.starSymbols {
  padding: 0px 2px 0px 0px;
  width: 12px;
  height: 12px;
  opacity: 0.8;
  cursor: pointer;
}
.linkSymbols {
  padding: 0px 2px 0px 0px;
  width: 16px;
  height: 16px;
  opacity: 0.8;
  cursor: pointer;
}
.linkSymbols:hover {
  opacity: 1;
}
.recordings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 96%;
  padding: 5px 0px 5px 0px;
  background-color: var(--background-tabn-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.recordings:hover {
  background-color: var(--font-white);
  color: var(--font-whitesmoke);
}
.recordinglinks {
  text-decoration: none;
  color: var(--font-infow-color);
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
.recordings a:hover {
  text-decoration: none;
  color: var(--font-tabnI-color);

  cursor: pointer;
}
.infoWindow {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--font-infow-color);
  background-color: var(--background-infow-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.infoWindowChat {
  margin: 50px;
  cursor: pointer;
  padding: 5px;

  font-size: 18px;
  background-color: var(--font-white);
  color: var(--font-infow-color);
  border-radius: 15px;
  border: 2px solid gray;
}
.rowHW {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  min-width: 99%;
}
.rowHWPosAbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}
.buttonHW {
  font-size: 12px;
  color: var(--font-infow-color);
  border: 0px;
  border-radius: 4px;
  background-color: var(--font-whitesmoke);
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
}
.buttonHWNames {
  font-size: 12px;
  border: 0px;
  border-radius: 4px;
  color: var(--font-white);
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  cursor: pointer;
}
.buttonHWNamesA {
  font-size: 12px;
  padding: 1px 3px 1px 3px;
  margin: 1px 3px 1px 3px;
  border: 0px;
  border-radius: 4px;
  color: black;
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  cursor: pointer;
  opacity: 0.8;
}
.buttonHWNamesA:hover {
  font-size: 12px;
  padding: 1px 3px 1px 3px;
  margin: 1px 3px 1px 3px;
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  cursor: pointer;
  opacity: 1;
}
.buttonHWL {
  border: 0px;
  margin: 0px;
  color: var(--font-light-color);
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
  box-shadow: 1px 2px 3px 0px var(--shade-dark-color),
    -2px -2px 1px 0px var(--shade-light-color);
}
.buttonHW:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 3px 0px var(--shade-light-color),
    -2px -2px 1px 0px var(--shade-dark-color);
  -moz-box-shadow: 1px 2px 3px 0px var(--shade-light-color),
    -2px -2px 1px 0px var(--shade-dark-color);
  box-shadow: 1px 2px 3px 0px var(--shade-light-color),
    -2px -2px 1px 0px var(--shade-dark-color);
}
@media only screen and (max-width: 1030px) {
  .clearfix {
    overflow: auto;
  }
  .logoBooks {
    width: 14vw;
    height: 18vw;
    border-radius: 12px;
    margin: 3vw 3vw 0px 3vw;
    background-color: aliceblue;
    cursor: pointer;
    object-fit: contain;
    padding: 5px;
  }
  .logoTools {
    height: 18vw;
    width: 18vw;
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
    border: 2px solid white;
    object-fit: cover;
  }
  .fc-event-title {
    font-size: 12px !important;
  }
  .halfContainer {
    width: 98%;
  }
  .hammercontainer {
    display: none;
  }
  .twoColumns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .rowHWPosAbs {
    display: none;
  }
  .greeting {
    object-fit: scale-down;
    font-size: 9px;
    display: flex;
  }
  .tabname {
    font-size: 12px;
    min-width: 5vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 4px;
  }
  .tabnameactive {
    font-size: 12px;
    min-width: 5vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 4px;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .icons {
    width: 24px;
    height: 24px;
  }
  .iconsRefferer {
    font-size: 6px;
    position: relative;
  }
  .iconsRefferer a {
    font-size: 6px;
  }

  .linksContainer {
    font-size: 12px;
    border-radius: 8px;
    margin: 0px 0px 0px 0px;
  }
  .recordings {
    min-width: 95vw;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 8px;
    margin: 5px;
  }
  .fc-scrollgrid-sync-table {
    height: 60vh !important;
  }
  .fc-daygrid {
    height: 65vh !important;
  }
  .fc {
    height: 75vh !important;
  }
  .fc-toolbar-title {
    font-size: 14px !important;
  }
  .recordings button {
    font-size: 14px;
  }
  .buttonHW {
    font-size: 12px;
    left: 75vw;
    margin: 4px;
  }
  .infoWindowChat {
    font-size: 12px;
  }

  .buttonHWL {
    font-size: 12px;
  }
  .linkSymbols {
    padding: 0px 6px 0px 0px;
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .logoBooks {
    width: 23vw;
    height: 30vw;
    border-radius: 8px;
    margin: 2vw 2vw 0px 2vw;
    background-color: aliceblue;
    object-fit: contain;
    padding: 5px;
  }
  .logoTools {
    height: 28vw;
    width: 28vw;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
    border: 1px solid white;
    object-fit: cover;
  }
  .fc-event-title {
    font-size: 10px !important;
  }
  .infoContLinks {
    display: none;
  }
  .halfContainer {
    width: 94%;
    border-radius: 2px;
    margin: 0px 10px 20px 10px;
    max-height: 100%;
    font-size: 16px;
  }
  .tabname {
    font-size: 1px;
    min-width: 5vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 4px;
  }
  .tabnameactive {
    font-size: 1px;
    min-width: 5vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 4px;
  }
}
